.create-card {
  width:364px;
  padding: 40px;
  color: rgb(68, 68, 68);
  cursor: pointer;
  position: relative;
  padding-bottom: 60px;
  padding-top: 60px;
}

.card-image img {
  width:364px;
  height: 198px;
  background-size: cover;
  background-position: center;
  transition: all 0.6s;
}

.card-image img:hover {
  filter: brightness(1.2);
}

.card-content {
  width: 364px;
  height: 198px;
  background-color:#F5F2F1;
  padding: 27px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 18px;
}

.bi-emoji-smile {
  font-size: 36px;
  padding-top: 4px;
}

.card-outer {
  width:400px;
}


.category-card {
  height: 280px;
  width: 313px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.category-card img {
  width:313px;
  height: 234px;
  position: relative;
  top:0;
  transition: top ease 0.5s, filter 0.6s;
  // transition: filter 0.6s;
}

.category-card img:hover {
  top:-15px;
  filter: brightness(1.2);
  // box-shadow: 2px 2px 2px 2px black
}

// .horizontal-scroll-wrapper {
//   width: 480px;
//   height: 1350px;
//   overflow-y: auto;
//   overflow-x: scroll;
//   white-space: nowrap;
// }

// .horizontal-scroll-wrapper > div {
//   width: 480px;
//   height: 400px;
// }

// .horizontal-scroll-wrapper {
//   transform: rotate(-90deg);
//   transform-origin: right top;
//   margin-top:-48px;
// }

// .horizontal-scroll-wrapper > div {
//   transform: rotate(90deg);
//   transform-origin: right top;
// }

// .horizontal-scroll-wrapper {
//   transform:rotate(-90deg) translateY(-480px);
// }

.test {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .card-outer {
    display: inline-block;
  }
}

.card-outer-first {
  margin-top: 440px;
}

// .card-selection {
//   height: 480px;
//   padding: 0;
//   margin-top: 50px;
// }

.card-image h6 {
  position: absolute;
  left: 296px;
  top: 219px;
  color: #717171;
  z-index: 1;
  background-color: white;
  padding: 5px;
  font-size: 14px;
  border-radius: 12px;
}
